<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ualberta.cmput301w16t16.glamorousborrowingwhaleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".MyItemActivity"></activity>
        <activity android:name=".SearchResultsActivity"></activity>
        <activity android:name=".MyBorrowedItemsActivity"></activity>
        <activity android:name=".MyBidsActivity"></activity>
        <activity android:name=".MyProfileViewActivity"></activity>
        <activity android:name=".TheirItemActivity"></activity>
        <activity android:name=".MyItemsActivity"></activity>
        <activity android:name=".NewListingActivity"></activity>
        <activity android:name=".IncomingBidsActivity"></activity>
        <activity android:name=".MyBorrowedItemActivity"></activity>
        <activity android:name=".User"></activity>
        <activity android:name=".PersistentToolbar"></activity>
        <activity android:name=".unused.IncomingBids"></activity>
        <activity android:name=".unused.MyItems"></activity>
            <!--android:name=".MyItemsIncomingBidsActivity"-->
            <!--android:label="@string/title_activity_my_items_incoming_bids"-->
            <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->
    </application>

</manifest>
